@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}
body,
html {
  margin: 0;
  color: rgb(238, 238, 238);
  font-family: "Anonymous Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(35, 35, 35);
}

hr{
height:6px;
border: none;
background-color:#ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Home css begins  */
#home {
  margin-bottom: 100px;
}

sup{
  font-size: xx-small;
  position: relative;
  top:-10px;
}
.logo {
  color: aqua;
  font-size: 1.8rem;
  width: 35rem;
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;

}

nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 100px;
  padding: 0.5em;
  font-weight: bold;
  min-width: 56.25rem;
  margin-top: 1.56rem;
}
nav ul {
  list-style-type: none;
  margin: 5px;
}
nav ul li {
  display: inline;
  padding-left: 2rem;
  padding-right: 1rem;
}
nav a {
  text-decoration: none;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
nav a:link {
  color: #eaeaea;
}
nav a:visited {
  color: #ffffff;
}
nav a:hover {
  color: #ea8496;
}


.container {
  margin-top: -470px;
  padding-bottom: 350px;
  margin-left: 300px;
}

.name {
  position: absolute;
  top: 300px;
  right: 525px;
  z-index: 4;
  color: rgb(255, 255, 255);
  font-size: 6.5rem;
  font-family: "poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}

.job-title {
  position: absolute;
  top: 450px;
  right: 585px;
  z-index: 4;
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.3rem;

}
.hero {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-image: url("./images/codingrainecloud-remove-background.com.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top -20px;
  opacity: 80%;
  padding-top: 100px;
}

/* Skills css begins   */
td{
  font-size: 1.2rem;
}

#myskills {
  background-color: rgb(35, 35, 35);
  padding-bottom: 300px;
  padding-top: 100px;
}


th:first-child{
  text-decoration: underline 6px rgb(152, 54, 208);
}
th:last-child{
  text-decoration: underline 6px palevioletred;
}
.colourful-cloud {
  margin-left: 1000px;
  margin-top: -45px;
  position: absolute;
  z-index: 1;
  opacity: 60%;
}

.skills-button {
  background-color: rgb(110, 108, 108);
  border-radius: 16px;
  border: none;
  font-family: "poppins", sans-serif;
  color: rgb(238, 238, 238);
  padding: 7px;
  text-align: center;
  margin: 0.3125rem;
}

table,
th,
td {
  border: 6px solid;
  margin: 0 auto;
}

table {
  position: relative;
  z-index: 999;
  border-collapse: collapse;
  width: 75%;
}

th,
td {
  padding: 15px;
}
.skills-title {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 50px;
  padding-top: 95px;
}

/* Project css begins */

#projects button{

 margin-top: 25px;
 width: 150px;
 height: 50px;
 border: none;
 border-radius: 3px;
 cursor: pointer;
 background-color:rgb(152, 54, 208);
 color: #eaeaea;
 font-family: "poppins", sans-serif;
}

.projects-title {
  color: white;
  text-align: start;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 125px;
}
#projects p{
  font-size: 1.2rem;
}

.project-container {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}
.project-list {
  padding-top: 100px;
  margin-right: 100px;
}

.accordian {
  margin-left: 0;
}

.accordian li {
  list-style: none;
  border: 6px solid white;
  width: 100%;
  padding: 10px;
}
.accordian li label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "poppins", sans-serif;

}
label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 400;
}
.accordian input[type="radio"]:checked + label + .project-description {
  max-height: 400px;
  padding: 10px 10px 20px;
}
.accordian .project-description {
  color: purple;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

input[type="radio"] {
  display: none;
}
.accordian input[type="radio"]:checked + label::before {
  content: "-";
}
#projects {
  padding-top: 80px;
}
.project-intro {
  margin-left: 125px;
}

.rotate img {
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotateY(45deg);
}

@keyframes rotate {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}

/* Call to action css begins */

.call-title {
  margin-top: 50px;
  padding-top: 100px;
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}




/*  Contact form begins */
.contact-page-title{
text-align: center;
margin-top: 200px;
margin-bottom: 75px;
color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#contact{
  margin-top: 200px;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(103, 99, 99) 0%,
    rgb(35, 35, 35) 15.9%,
    rgb(40, 40, 40) 15.9%,
    rgb(40, 40, 40) 24.4%,
    rgb(35, 35, 35) 24.5%,
    rgb(35, 35, 35) 66%
  );
  min-height: 100vh;
}

.form-container{
  display: flex;
  margin-left:200px;
}
.input-field{
  width:400px;
  height:40px;
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-bottom: 3px rgb(255, 255, 255) solid;
  background-color: rgb(35, 35, 35);
  color: #ffffff;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
 .textarea-field{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  width:400px;
  height:40px;
  border:none;
  border-bottom: 3px rgb(255, 255, 255) solid;
  background-color: rgb(35, 35, 35);
  color:#ffffff;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

 }
.contact-box{
  width:500px;
  height: 400px;
  background-color: rgb(35, 35, 35);
  margin: 150px auto;
}


.email-address{
  color: #ea8496;
  text-align: center;
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.contact-box button{
  font-size: 1.2rem;
  background-color: rgb(35, 35, 35);
  position:relative;
  right: -355px;
  color: #ea8496;
  border: none;
  cursor: pointer;
}

.logos {
  position: absolute;
  bottom: -1340px;
  left: 200px;
}

.social-icons {
  margin-left: 55px;
  margin-top: 80px;
  margin-bottom: 50px;
  gap: 15px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.linkedin-icon {
  transition: 0.2s ease-in-out 0s;
}
.linkedin-icon:hover {
  transform: scale(1.5);
}
.github-icon {
  transition: 0.2s ease-in-out 0s;
}
.github-icon:hover {
  transform: scale(1.5);
}

/* Footer css begins */

footer {
  margin: -600px auto;


}
footer p {
  padding-top: 500px;
  text-align: center;
  font-size:  .9rem;
}



/* All Projects css */
#all-projects{
  margin-top: 200px;
}
#all-projects h1{
text-align: center;
margin-bottom: 200px;
color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  }
  
#all-projects h2{
margin-left: 443px;
}


.all-projects-container{
  font-size: 1.2rem;;
  display:flex;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  gap: 100px;
}

/* Musings page begins */

.musing-title{
color: rgb(255, 255, 255);
text-align: center;
font-size: 4rem;
font-family: "poppins", sans-serif;
font-weight: 600;
font-style: normal;
margin-left: 125px;
margin-top: 200px;

}

.blog-description{
  width: 800px;
  margin: 100px auto; 
}
#musings h3{
font-family: "poppins", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 1.5rem;
color: rgb(255, 255, 255);
padding-bottom: 30px;
padding-top: 10px;
}
#musings img{

  margin-left: 150px;
}
.musing-description{
  color: #ea8496;
  font-size: 1.2rem;
}

#musings{
  padding-bottom: 150px;
}